@page
@model NutriApp.App.Presentacion.Page.Nutricionistas.indexModel
@{
    Layout = "_Layout";
}

<nav class="panel">
    <a class="btn-panel" asp-page="./index" asp-route-id="@Model.Nutricionista.Id" data-content="Perfil" >Perfil</a> 
    <a class="btn-panel" asp-page="./Pacientes" asp-route-id="@Model.Nutricionista.Id" data-content="Pacientes">Pacientes</a> 
    <a class="btn-panel" asp-page="./Config" asp-route-id="@Model.Nutricionista.Id" data-content="Editar Perfil">Editar Perfil</a> 
    <a class="btn-panel" asp-page="../Login/index" data-content="Cerrar Sesión">Cerrar Sesión</a>
</nav>


<div class="perfilPaciente">
    <img src="~/assets/profile.png" class="img-perfil" alt="pefil">
    <div class="infoPerfil">
        <p id="Nombre">@Model.Nutricionista.Nombre</p>
        <table>
            <tr>
                <td class="ident">Fecha de Nacimiento:</td>
                <td>@Model.Nutricionista.FechaNacimiento.ToString("d")</td>
            </tr>
            <tr>
                <td class="ident">Telefono:</td>
                <td>@Model.Nutricionista.Telefono</td>
            </tr>
            <tr>
                <td class="ident">Correo:</td>
                <td>@Model.Nutricionista.Correo</td>
            </tr>
            <tr>
                <td class="ident">Especialización:</td>
                <td>@Model.Nutricionista.Especializacion</td>
            </tr>
            <tr>
                <td class="ident">Tarjeta Profesional:</td>
                <td>@Model.Nutricionista.TarjetaProfesional</td>
            </tr>
        </table>
    </div>
</div>